* {
    margin:0;
    font-family:arial;
    border:border-box;

}





.hero-section{
    background-image: url("image2.jpg");
    background-size:cover;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.hero-msg{
    
    margin-top:8px;
    text-align:center;
    font-size:25px;
    text-color:white

}
.hero-msg a{
    color:blue;
}

/**.img-fig{
    display:inline-block;
}

.img-fig{
    display:block;

}
.img-fig figcaption{
    text-align:center;
}**/

.figure{
    display:flex;
    gap:20px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}


.figure1{
    display:flex;
    gap:20px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}


.figure2{
    display:flex;
    gap:20px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}

.content{
    display:none;
    margin-top:20px;

}

.content:target{
    display:block;
}