* {
    margin:0;
    font-family:arial;
    border:border-box;
    background-color: #f2f2f2;

}





.hero-section{
    background-image: url("image2.jpg");
    background-size:cover;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-bottom:40px;
}




/**.img-fig{
    display:inline-block;
}

.img-fig{
    display:block;

}
.img-fig figcaption{
    text-align:center;
}**/

.figure{
    display:flex;
    gap:30px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}

figure img:hover{
    border:3px solid black;

}


.figure1{
    display:flex;
    gap:30px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}


.figure2{
    display:flex;
    gap:30px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}

.content{
    display:none;
    margin-top:20px;

}

.content:target{
    display:block;
}

.music{
   background-color:green;
    /**margin-top:20px;**/
    background-size:cover;
    /**background-image:url("c:\Users\Bindu\Desktop\web\MV5BOTllODIzZjUtZGVlNC00YjhhLWIxNzMtZTUyZjJmNzcyODBmXkEyXkFqcGc@._V1_.jpg");**/
}

.container{
    
    /*gap:20px;
    padding:20px;
    margin-right:970px;*/
    width:25%;
    height:400px;
    /*border:2px solid black;*/
    padding:20px;
    gap:20px
}
.image1{
    padding:10px;
    text-align:center;

}



.parent{
    display:flex;
}

.top_deals{
    display:flex;
    gap:30px;
}

figure{
    display:inline-block;
    text-align:center;
}

figure img{
    dispaly:block;
}

.tables1{
                width:100%;
                border:2px;
            }
            .tables1 th td tr{
                border:2px solid black;
            }
            

            .tables1 th td{
                padding:10px;
            }

            .tables1 th{
                text-align:center;
                background-color:greenyellow;
                font-size:25px;


            }

            .tables1 td{
                text-align:right;
                font-size:20px;
            }

.form1
{
    width:420px;
    margin:40px auto;
    padding:25px;
    border:2px solid black;
    background-color:#f2f2f2;
}

 .form1 label{
   display:inline-block;
    margin-top:6px;
    font-weight:bold;
    /*text-align:left;*/
    vertical-align:middle;
    width:150px;
 }

 .form1 button:hover{
    background-color:aqua;
 }

 .form1 textarea{
    height:60px;
 }

 .form1 textarea,select{
    width:280px;
    padding:8px;
    margin-top:10px;
 }

 .form1 input[type="radio"]{
    width:auto;
    margin:4px 6px 0 150px;
    vertical-align:middle;
 }

 .form1 label.radio{
    width:auto;
    margin-right:60px;
 }

 

 .form1 input:not([type="radio"]){
    width:280px;
    padding:8px;
    margin-top:10px;

 }

 .form2{
   
    margin-top:100px auto;
    padding:20px;
    border:1px solid;
    width:300px;
    display:none;
 
 }

 .form2 input{
    width:100%;
    padding:8px;
    margin:8px 0;
 }

 .form2 button{
    width:100%;
    padding:8px;
    background-color:#2874f0;
    color:white;
    border:none;
 }

 .form2 button:hover{
    border:2px solid black;
 }
 #login:target{
    display:block;
 }
 
 .close{
    display:block;
    text-align:right;
    margin-bottom:10px;

 }
 .close a{
    color:white;
    text-decoration: none;
    font-weight:bold;
    border:3px solid black;
    border-radius:4px;
    cursor:pointer;
    background-color:red;
 }
   

 .form3{
   display:inline-block;
    margin-top:100px auto;
    padding:20px;
    border:1px solid;
    width:300px;
    
 
 }

 .form3 input{
    width:100%;
    padding:8px;
    margin:8px 0;

 }
 
 .form3 button{
    width:100%;
    padding:8px;
    background-color:#2874f0;
    color:white;
    border:none;
 }

 .form3 button:hover{
    border:2px solid black;
 }